@{;
ViewBag.Title = "缴费单打印";
Layout = "~/Views/Shared/_OrderForm.cshtml";
}
<script src="/Content/scripts/plugins/Amount/ArabiaToChinese.js"></script>
<script src="/Content/scripts/plugins/Lodop/LodopFuncs.js"></script>
<style>
    body { width: 100%; background-color: #ccc; margin: 0px auto; padding: 0px; }
    .ui-jqgrid .form-control { width: 100%; }
    .ui-jqgrid .ui-jqgrid-view input { font-size: 12px; }
    .brs { border: 0px; border-bottom: solid 1px #000000; }
    .top { width: 100%; margin: 0 auto; height: 35px; line-height: 30px; position: fixed; _position: absolute; z-index: 9999; left: 0; top: 0; text-align: center; background: #808080; }
    .Noprint { width: 120px; }
</style>
<script>
    var keyValue = request('keyValue');
    $(function () {
        InitialPage;
        GetOrderEntryGrid();
        InitControl();
        InitialInfo();

        $("#divP").height($(window).height() - 35);
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $("#divP").height($(window).height() - 35);
            }, 200);
            e.stopPropagation();
        });
    });
    //加载参数
    function InitialInfo() {
    }

    //初始化页面url:
    function InitialPage() {;
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
            }, 200);
            e.stopPropagation();
        });
    }
    //加载明细表
    function GetOrderEntryGrid() {
        var $grid = $('#gridTable');
        $grid.jqGrid({
            unwritten: false,
            datatype: "local",
            height: '100%',
            autowidth: true,
            colModel: [
                { label: '服务名称', name: 'service_name', width: 500, align: 'center', sortable: false, resizable: false },
                { label: '规格型号', name: 'sku', width: 150, align: 'center', sortable: false, resizable: false },
                { label: '单位', name: 'unit', width: 150, align: 'center', sortable: false, resizable: false },
                { label: '数量', name: 'quantity', width: 150, align: 'center', sortable: false, resizable: false },
                { label: '单价', name: 'unit_price', width: 150, align: 'center', sortable: false, resizable: false },
                { label: '金额', name: 'price', width: 150, align: 'center', sortable: false, resizable: false },
                { label: '税率', name: 'tax_rate', width: 150, align: 'center', sortable: false, resizable: false },
                { label: '税额', name: 'tax_price', width: 150, align: 'center', sortable: false, resizable: false },
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "property_name": "金额 <span id='TotalPrice'>0.00</span>",
                    "fee_income": "税额 <span id='TotalTaxPrice'>0.00</span>",
                });
                $('table.ui-jqgrid-ftable td[aria-describedby="gridTable_fee_income"]').prevUntil().css("border-right-color", "#fff").css("text-align", "left");
                $('table.ui-jqgrid-ftable td[aria-describedby="gridTable_fee_income"]').css("text-align", "left");
            }
        });
        var $total = keyValue.split(',').length;
        for (var i = 0; i < $total; i++) {
            var rowdata = {
                property_name: '<input name="property_name" type="text" class="editable center disabled" />',
                fee_income: '<input name="fee_income" type="text" class="editable center decimal disabled" isvalid="yes" checkexpession="Double" />',
            }
            $grid.jqGrid('addRowData', i, rowdata);
        };
        $grid.find('.decimal').attr('onfocus', 'IsMoney(this.id)');
        //价格文本框事件
        $grid.find('.decimal').click(function () {
            $(this).select();
        });
        //价格文本框换算
        $grid.find('.decimal').keyup(function () {
            //合计
            var TotalPrice = 0.00;
            $grid.find("tbody tr").each(function (i) {
                var Price = $(this).find('td:eq(2)').find('input').val();
                if (Price != "" && Price != undefined) {
                    TotalPrice += Number(Price);
                }
            });
            $("#TotalFeeincome").text(toDecimal(TotalPrice));
            $("#TotalCapital").text(Arabia_to_Chinese(toDecimal(TotalPrice)));
        });
    }
    //初始化控件
    function InitControl() {
        var $property_name = "";
        var $type = request('type');
        if ($type == "" || $type == undefined) {
            $type = 5;
        }
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "/TenementManage/Feeincome/GetListsJson?type=" + $type + "&owner_id=" + keyValue,
                success: function (data) {
                    var orderEntry = data;

                    var _con = data.length;
                    //合计
                    var TotalPrice = 0.00;
                    var $fname = "";
                    var $yearMonth = "";
                    var $fincome = 0.00;
                    var _json = [];

                    console.log(data);

                    //数据重组
                    $.each(orderEntry, function (index, item) {
                        // 业务逻辑有问题修改 Update:2017/10/11  Author:Jerry.Li
                        var jsonIndex = getArrayItem(_json, item.feeitem_name);
                        if (jsonIndex != null) {
                            _json[jsonIndex] = {
                                property_name: _json[jsonIndex].property_name,
                                feeitem_name: _json[jsonIndex].feeitem_name,
                                feeyear: _json[jsonIndex].feeyear + ',' + (item.fee_year + "/" + item.fee_month),
                                fee_income: _json[jsonIndex].fee_income + item.fee_income
                            };
                        } else {
                            _json.push({ property_name: item.property_name, feeitem_name: item.feeitem_name, feeyear: (item.fee_year + "/" + item.fee_month), fee_income: item.fee_income });
                        }
                    });

                    console.log(_json);

                    //数据绑定
                    $("#gridTable").find('[role=row]').each(function (i) {
                        var row = _json[i - 1];
                        if (row != undefined) {
                            $(this).find('input[name="property_name"]').attr("value", row.feeitem_name + "(" + row.feeyear + ")");
                            $(this).find('input[name="fee_income"]').attr("value", toDecimal(row.fee_income));

                            if (row.fee_income != "" && row.fee_income != undefined) {
                                TotalPrice += Number(row.fee_income);
                            }
                            $property_name = row.property_name;
                        } else {
                            if (i > 1) {
                                $(this).remove();
                            }
                        }
                    });

                    $("#TotalFeeincome").text(toDecimal(TotalPrice));
                    $("#TotalCapital").text(Arabia_to_Chinese(toDecimal(TotalPrice)));

                    var $type = request('type');

                    $paydata = request('paydate');
                    if ($paydata != undefined && $paydata.length > 0) {
                        $paydata = $paydata.split('-');
                        $("#txtYear").val($paydata[0]);
                        $("#txtMouth").val($paydata[1]);
                        $("#txtDay").val($paydata[2]);
                    }
                }
            });

            if ($property_name.indexOf('/') > -1) {
                var $property_names = $property_name.split('/');
                var $name = $property_names[$property_names.length - 1];
                if ($property_names.length >= 3) {
                    $("#propertyname").attr("value", $property_names[1] + "/" + $property_names[2] + "(" + $name + ")");
                } else {
                    $("#propertyname").attr("value", $property_name);
                }
            }
            else {
                $("#propertyname").attr("value", $property_name);
            }
        }


        // 取重复值下标
        function getArrayItem(objArray, feeitem_name) {
            if (objArray != null) {
                for (var i = 0; i < objArray.length; i++) {
                    if (objArray[i].feeitem_name == feeitem_name) {
                        return i;
                    }
                }
            }

            return null;
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }

        var LODOP; //声明为全局变量
        LODOP = getLodop();

        LODOP.PRINT_INITA(0, 0, 1050, 600, "");
        LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\ajunf\\Desktop\\print.png");
        LODOP.ADD_PRINT_TEXTA("购买方名称", 134, 160, 370, 20, "名称");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF00FF");
        LODOP.ADD_PRINT_TEXT(97, 656, 163, 20, "开票日期");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF00FF");
        LODOP.ADD_PRINT_TEXT(156, 161, 370, 20, "纳税人识别号");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF00FF");
        LODOP.ADD_PRINT_TEXT(179, 161, 370, 20, "地址、电话");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT(231, 47, 180, 152, "货物或应税劳务、服务名称");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF00FF");
        LODOP.ADD_PRINT_TEXT(231, 230, 149, 152, "规格型号");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF00FF");
        LODOP.ADD_PRINT_TEXT(420, 175, 370, 20, "名称");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF00FF");
        LODOP.ADD_PRINT_TEXT(521, 531, 100, 20, "开票人");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF00FF");
        LODOP.ADD_PRINT_TEXT(521, 347, 100, 20, "复核");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF00FF");
        LODOP.ADD_PRINT_TEXT(521, 124, 100, 20, "收款人");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF00FF");
        LODOP.ADD_PRINT_TEXT(203, 161, 370, 20, "开户行及账号");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT(231, 383, 70, 152, "单位");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "Alignment", 2);
        LODOP.ADD_PRINT_TEXT(231, 458, 50, 152, "数量");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "Alignment", 3);
        LODOP.ADD_PRINT_TEXT(231, 511, 80, 152, "单价");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "Alignment", 3);
        LODOP.ADD_PRINT_TEXT(231, 595, 90, 152, "金额");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "Alignment", 3);
        LODOP.ADD_PRINT_TEXT(230, 688, 50, 152, "税率");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT(230, 740, 100, 152, "税额");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.SET_PRINT_STYLEA(0, "Alignment", 3);
        LODOP.ADD_PRINT_TEXT(388, 230, 220, 20, "合计大写");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT(389, 639, 200, 20, "合计小写");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT(443, 175, 370, 20, "纳税人识别号");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT(465, 175, 370, 20, "地址电话");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT(488, 175, 370, 20, "开户行及账号");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT(422, 569, 270, 90, "新加文本23");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);


        //LODOP.PRINT_SETUP(); // 打印维护(开发)
        LODOP.PRINT_DESIGN(); // 打印设计
        //LODOP.PREVIEW();
        //LODOP.PRINT();
    }
</script>
<div id="divTops">
    <div class="top" id="top">
        <input type="button" class="Noprint" value="打印专票" onclick="javascript: AcceptClick();" />&nbsp;&nbsp;
        <input type="button" class="Noprint" value="打印普票" onclick='javascript: AcceptClick();' />
        <input type="button" class="Noprint" value="关    闭" onclick='window.close();' />
    </div>
</div>
<div id="divP" style="margin:0 auto; width:900px; background-color:#ffffff; height:700px;margin-top: 35px;">
    <div id="divPrint" class="billss" style="margin:0 auto;width:96%;">
        <table id="tbHL" class="form" style="width: 20%; margin-bottom: 15px;font-size:12px; ">
            <tr>
                <th class="formTitle" style="width: 60px; text-align:left;">本月汇率：</th>
                <td class="formValue">
                    <input id="option_exchange" type="text" class="editable center decimal disabled brs" value="@ViewBag.option_exchange" />
                </td>
            </tr>
        </table>
        <div class="printArea fapiao">
            <table class="form" style="width: 100%; margin-bottom: 5px;font-size:12px; ">
                <tr>
                    <th class="formTitle" style="width: 30px; text-align:left;">客户</th>
                    <td class="formValue">
                        <input id="propertyname" type="text" class="editable center decimal disabled brs" />
                    </td>
                    <td style="width:220px">&nbsp;</td>
                    <td class="formValue" style="text-align:right;">
                        <table class="form">
                            <tr>
                                <td style="width:50px;">
                                    <input id="txtYear" type="text" class="editable center decimal disabled brs" value="@ViewBag.year" />
                                </td>
                                <th class="formTitle" style="width: 30px; text-align:center;">年</th>
                                <td style="width:50px;">
                                    <input id="txtMouth" type="text" class="editable center decimal disabled brs" value="@ViewBag.month" />
                                </td>
                                <th class="formTitle" style="width: 30px; text-align:center;">月</th>
                                <td style="width:50px;">
                                    <input id="txtDay" type="text" class="editable center decimal disabled brs" value="@ViewBag.day" />
                                </td>
                                <th class="formTitle" style="width: 30px; text-align:center;">日</th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="gridPanel printArea">
            <table id="gridTable"></table>
        </div>
        <div class="printArea">
            <table class="form" style="width: 100%; margin-top: 5px;font-size:12px; ">
                <tr>
                    <th class="formTitle" style="width: 80px; text-align:left;">企业(盖章有效) </th>
                    <td class="formValue" style="width:400px;">&nbsp;</td>
                    <th class="formTitle" style="width: 40px; text-align:left;">开  票</th>
                    <td class="formValue"><span id="invoiceMan">@ViewBag.UserName</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>