@{;
    ViewBag.Title = "缴费单打印";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
}
<script src="/Content/scripts/plugins/Amount/ArabiaToChinese.js"></script>
<script src="/Content/scripts/plugins/Lodop/LodopFuncs.js"></script>
<style>
    body { width: 100%; background-color: #ccc; margin: 0px auto; padding: 0px; }
    .ui-jqgrid .form-control { width: 100%; }
    .ui-jqgrid .ui-jqgrid-view input { font-size: 12px; }
    .brs { border: 0px; border-bottom: solid 1px #000000; }
    .top { width: 100%; margin: 0 auto; height: 35px; line-height: 30px; position: fixed; _position: absolute; z-index: 9999; left: 0; top: 0; text-align: center; background: #808080; }
    .Noprint { width: 120px; }
</style>
<!--jqgrid表格组件start-->
<link href="/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<!--表格组件end-->
<script src="/Content/scripts/plugins/Amount/ArabiaToChinese.js"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
        getGrid();
    });
    //初始化控件
    function initControl() {
        //类型
        $("#ticket_type").ComboBox({
            description: "==请选择==",
        });
        //部门
        $("#dept_id").ComboBox({
            url: "/PersonnelManage/HrDepartment/GetTreeJson",
            id: "deptid",
            text: "deptname",
            description: "==请选择==",
            height: "200px",
            allowSearch: true,
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "/TenementManage/Feeticket/GetCostByTicketId",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        }
    }

    $.fn.serializeJson = function () {
        var serializeObj = {};
        $(this.serializeArray()).each(function () {
            serializeObj[this.name] = this.value;
        });
        return serializeObj;
    };

    function getGrid() {
        var $grid = $("#gridTable");
        $grid.jqGrid({
            unwritten: false,
            url: "/TenementManage/Feeticket/GetOherIncomeList?keyValue=" + keyValue,
            postData: { queryJson: JSON.stringify($("#form1").serializeJson()) },
            datatype: "json",
            height: $(window).height() - 235,
            autowidth: true,
            colModel: [
                { label: "费用项目", name: "fn", align: "left", width: 100, sortable: false },
                { label: "摘要", name: "subject", align: "left", sortable: false },
                { label: "费用金额", name: "check_money", align: "left", width: 100, sortable: false, formatter: 'number', formatoptions: { thousandsSeparator: "", decimalPlaces: 2 } },
            ],
            viewrecords: true,
            rowNum: 1000,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                var totalamount = $(this).getCol("check_money", false, "sum").toFixed(2);
                //合计
                $(this).footerData("set", {
                    "subject": "合计： 大写：" + Arabia_to_Chinese(totalamount) + "     小写：",
                    "check_money": totalamount,
                });
                $('table.ui-jqgrid-ftable td').prevUntil().css("border-right-color", "#fff");
                $('table.ui-jqgrid-ftable td[aria-describedby="gridTable_subject"]').css("text-align", "right");
            }
        });
    }

    //保存表单;
    function AcceptClick(type) {
        switch (type) {
            case 0:

                break;
            case 1:
                break
        }
    }
</script>
<div id="divTops">
    <div class="top" id="top">
        <input type="button" class="Noprint" value="打印普票" onclick="javascript: AcceptClick(0);" />&nbsp;&nbsp;
        <input type="button" class="Noprint" value="打印专票" onclick='javascript: AcceptClick(1);' />
        <input type="button" class="Noprint" value="关    闭" onclick='window.close();' />
    </div>
</div>
<div id="divP" style="margin:0 auto; width:900px; background-color:#ffffff; height:700px;margin-top: 35px;">
    <div id="divPrint" class="billss" style="margin:0 auto;width:96%;">
        <table id="tbHL" class="form" style="width: 20%; margin-bottom: 15px;font-size:12px; ">
            <tr>
                <th class="formTitle" style="width: 60px; text-align:left;">本月汇率：</th>
                <td class="formValue">
                    <input id="option_exchange" type="text" class="editable center decimal disabled brs" value="@ViewBag.option_exchange" />
                </td>
            </tr>
        </table>
        <div class="printArea fapiao">
            <table class="form" style="width: 100%; margin-bottom: 5px;font-size:12px; ">
                <tr>
                    <th class="formTitle" style="width: 30px; text-align:left;">客户</th>
                    <td class="formValue">
                        <input id="propertyname" type="text" class="editable center decimal disabled brs" />
                    </td>
                    <td style="width:220px">&nbsp;</td>
                    <td class="formValue" style="text-align:right;">
                        <table class="form">
                            <tr>
                                <td style="width:50px;">
                                    <input id="txtYear" type="text" class="editable center decimal disabled brs" value="@ViewBag.year" />
                                </td>
                                <th class="formTitle" style="width: 30px; text-align:center;">年</th>
                                <td style="width:50px;">
                                    <input id="txtMouth" type="text" class="editable center decimal disabled brs" value="@ViewBag.month" />
                                </td>
                                <th class="formTitle" style="width: 30px; text-align:center;">月</th>
                                <td style="width:50px;">
                                    <input id="txtDay" type="text" class="editable center decimal disabled brs" value="@ViewBag.day" />
                                </td>
                                <th class="formTitle" style="width: 30px; text-align:center;">日</th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="gridPanel printArea">
            <div style="margin-top: 20px; margin-right: 10px; margin-left:10px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">物业：</td>
                        <td class="formValue" colspan='3'>
                            <input id="property_name" type="text" class="form-control" readonly="readonly" />
                        </td>
                        <td class="formTitle">业主：</td>
                        <td class="formValue" colspan='3'>
                            <input id="ownername" type="text" class="form-control" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">收费日期：</td>
                        <td class="formValue" colspan='3'>
                            <input id="receive_date" type="text" class="form-control" readonly="readonly" />
                        </td>
                        <td class="formTitle">票据号码：</td>
                        <td class="formValue" colspan='3'>
                            <input id="ticket_code" type="text" class="form-control" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">支付方式：</td>
                        <td class="formValue" colspan='3'>
                            <input id="pay_mode" type="text" class="form-control" readonly="readonly" />
                        </td>
                        <td class="formTitle">其它说明：</td>
                        <td class="formValue" colspan='3'>
                            <input id="pay_" type="text" class="form-control" readonly="readonly" />
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="incomeid" id="incomeid" />
                <input type="hidden" name="receive_id" id="receive_id">
                <input type="hidden" name="is_income" id="is_income">
                <input type="hidden" name="is_otherIncome" id="is_otherIncome">
                <table id="gridTable"></table>
            </div>
        </div>
        <div class="printArea">
            <table class="form" style="width: 100%; margin-top: 5px;font-size:12px; ">
                <tr>
                    <th class="formTitle" style="width: 80px; text-align:left;">企业(盖章有效) </th>
                    <td class="formValue" style="width:400px;">&nbsp;</td>
                    <th class="formTitle" style="width: 40px; text-align:left;">开  票</th>
                    <td class="formValue"><span id="invoiceMan">@ViewBag.UserName</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>